@page
@model Lab5.Pages.LoginModel
@{
    // Можно установить заголовок, если нужно
    ViewData["Title"] = "Вход";
    // Страница может быть визуально пустой, так как логика в коде
}

<p>Выполняется вход...</p>
